a.navlink {
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

a.navlink.active {
  font-weight: 600;
  text-decoration: underline;
}

a.navlink:hover {
  font-weight: 700;
  text-decoration: underline;
  transition: 0.2s ease;
}
